
<div class="flickr_pagination mt-4">
  <%= will_paginate @users, :container => false %>
</div>

<div class="container mt-4">
  <% @users.each_slice(3) do |users_slice| %>
    <div class="row justify-content-md-center">
      <% users_slice.each do |user| %>
        <div class="col-md-4">
          <div class="card p-3 mb-2">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div class="icon mr-3"> 
                  <div class = "bx bxl-dribbble">
                    <%= link_to gravatar_for(user, size: 50), user %>
                  </div>
                </div>
                <div class="ms-2 c-details">
                  <h6 class="mb-0"><%= link_to user.username, user %></h6> <span>Joined <%= time_ago_in_words(user.created_at) %> days ago</span>
                </div>
              </div>
              <% if user.is_admin %>
                <div class="badge"> <span>Admin</span> </div>
              <% end %>
            </div>
            <div class="mt-5">
              <%= link_to "View", user, class: "btn btn-outline-success mr-2" %>
              <% if logged_in? && current_user.id == user.id%>
                <%= link_to "Edit", edit_user_path(user), class: "btn btn-outline-info mr-2" %>
              <% end %>
              <% if logged_in? && same_user_or_admin(user)%>
                <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-outline-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>