<%= stylesheet_link_tag "profile" %>

<div class="box background-full" id="wrapper">
  <div id="overlay">
    <div id="center">
      <img src=<%= @user.profile_image == nil ? gravatar_link(@user.email) : @user.profile_image %>
                alt="Generic placeholder image" class="image img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
      <div class="trick"></div>
    </div>
    <ul class="text"><%= @user.username%></ul>
    <div class="text1"><%= @user.email%></div>
    <div class="panel-group mt-4" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading " role="tab" id="headingOne">
          <h4 class="panel-title ">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="" aria-controls="collapseOne">
              <div class="title  btn btn-danger btn-outline btn-lg">About</div>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body mb-4">
            <%= @user.about != nil ? @user.about : "Nothing to show here!!"%>
          </div>
        </div>
      </div>
      <% if logged_in? && current_user.id == @user.id %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="title btn btn-danger btn-outline btn-lg">Actions</div>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-outline-info mb-4 edit-button" %>
              <%= link_to "Delete Profile", user_path(@user), method: :delete, class: "btn btn-outline-info mb-4 edit-button", data: {confirm: "Are you sure ?"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>